/* Color Theme Swatches in Hex */
.c1 { color: #F2F2F0; }
.c2 { color: #D9D8D7; }
.c3 { color: #030302; }
.c4 { color: #006FE6; }
.c5 { color: #003f83; }


body {
    background-color: #030302;
    font-family: 'Comic Sans MS';
    color: #F2F2F0;
    text-shadow:#F2F2F0 0px 0px 7px;
    font-weight:bold;
    text-align: center;
}

div marquee {
    border: #003f83 5px solid;
    border-radius: 15px;
    background-image: linear-gradient(#006FE6, #003f83) ;
    color: #D9D8D7;
    text-shadow: #F2F2F0 0px 0px 7px;
    padding: 10px;
    font-size: xx-large;
}

div marquee a {
    color: #F2F2F0;
}

button {
    background-image: linear-gradient(#006FE6, #003f83) ;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #D9D8D7;
    text-shadow: #F2F2F0 0px 0px 7px;
    font-weight: bold;
    font-size: 20px;
    border-color: #003f83;
    border: #003f83 solid 4px;
    font-family: 'Comic Sans MS';
    transition: 0.5s;
}

input {
    background-image: linear-gradient(#006FE6, #003f83) ;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #F2F2F0;
    text-shadow: #F2F2F0 0px 0px 7px;
    font-weight: bold;
    font-size: 20px;
    border-color: #003f83;
    border: #003f83 solid 4px;
    text-align: center;
    font-family: 'Comic Sans MS';
    width: 320px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* frytojad */
input[type=number] {
  -moz-appearance: textfield;
}

.box {
    background-image: linear-gradient(#006FE6, #003f83) ;
    text-align: center;
    border-color: #003f83;
    border: #003f83 solid 4px;

    border-radius: 15px;
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.box a {
    color: #F2F2F0;
    font-size: x-large;
}

button:hover {
    transition: 0.5s;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 a {
    color: #F2F2F0;
}

img {
    height: 200px;
    width: 200px;
    border: 3px solid #006FE6;
}

#temu {
    background-image: linear-gradient(#006FE6, #003f83) ;
    padding: 10px;
    color: #F2F2F0;
    font-size: x-large;
}
