body {
    background-color: antiquewhite;
    text-align: center;
}

input {
    background-color:blanchedalmond;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    border: solid 3px dimgray;
}

#skrypt {
    background-color: antiquewhite;
    color: black;
    text-align: center;
}

header {
    padding: 50px;
    margin-top: 25px;
    margin-left: 750px;
    margin-right: 750px;
    background-color: blanchedalmond;
    border-radius: 50px;
    border:solid dimgray 5px;
    color: black;
    font-size: x-large;
}

button {
    border: solid 3px dimgray; 
    padding: 5px;
    border-radius: 15px;
    background-color:blanchedalmond;
    transition: 0.3s;
}

button:hover {
    padding: 10px;
    transition: 0.3s;
    border-radius: 25px;
    background-color: moccasin;
    text-shadow: 0px 0px 15px black;
}

input:focus {
    background-color:moccasin;
    outline: none;
}

#wynik {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bold;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#ok {
    font-family: arial;
    background-color: blanchedalmond;
    border: dotted dimgray 5px;
    margin-left: 650px;
    margin-right: 650px;
    padding: 10px;
    border-radius: 15px;
}

#ok:hover {
    color: darkslategrey;
}